

# Practical_1: Variables and Assignments

In [ ]:
#Exercise 1

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.

In [ ]:

# Exercise 1

X = 10

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

In [ ]:

# Exercise 2
is_valid = True



### Exercise 3:
Create a string variable `name` with the value "Python Programming".

In [ ]:

# Exercise 3
```
name = "Python Programming"

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

In [ ]:

# Exercise 4
sum_result = 5 + 3

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

In [ ]:

# Exercise 5

a, b, c = 5, 10, 15

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

In [6]:

# Exercise 6
x, y =  3, 4
y = x
print(x,y)

3 3

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

In [ ]:

# Exercise 7
gravity = 9.8

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

In [ ]:

#Exercise 8
country = 'Senegal'



### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

In [7]:
# Exercise 9
age = 25
age_2 = 26
age = age_2
age

26

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

In [8]:
# Exercise 10
a = 20
b = 7
result = a - b
result

13

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

In [ ]:

# Exercise 11
a = 10
b = 3.5

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

In [9]:

# Exercise 12
is_completed = False
is_completed

False

### Exercise 13:
Swap the values of two variables `x` and `y`.

In [11]:
# Exercise 13
x, y = 2, 3
tmp = x
x = y
y = tmp
print(x,y)

3 2

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

In [14]:

# Exercise 14
complex_num = 3+4j
complex_num

(3+4j)

In [ ]:
---

### Exercise 15:
Reassign a variable from an integer to a string.

In [16]:

# Exercise 15
a = 3
a = str(a)
a

'3'

In [ ]:
---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python

In [17]:
# Exercise 16
first_name = 'khadidiatou'
last_name = 'bop'
first_name

'khadija'

In [ ]:
---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python

In [ ]:
# Exercise 17
temperature = 35.5

In [ ]:
### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python

In [ ]:
# Exercise 18
product = 8 * 6

In [ ]:
### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python

In [ ]:
# Exercise 19
sentence = 'python'

In [ ]:
### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python

In [18]:
# Exercise 20
a = int('50')
a

50

In [ ]:
### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python

In [19]:
# Exercise 21
quotient = 144 / 12
quotient

12.0

In [ ]:
### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python

In [20]:
# Exercise 22
remainder = 47 / 5
remainder

9.4

In [ ]:
### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python

In [21]:
# Exercise 23
is_student = True
is_student

True

In [ ]:
### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python

In [22]:
# Exercise 24
result = 45 % 4
result

1

In [ ]:
### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python

In [23]:
# Exercise 25
pi = 3.14159
pi

3.14159

In [ ]:
### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python

In [24]:
# Exercise 26
length = 5
width = 3
area = length * width
area

15

In [ ]:
### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python

In [25]:
# Exercise 27
negative_number = -1
negative_number

-1

In [ ]:
### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python

In [28]:
# Exercise 28
gretting = ' "Hello, World" '
print(gretting)

 "Hello, World"

In [ ]:
### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python

In [29]:
# Exercise 29
population = 122330000000000000
population

122330000000000000

In [ ]:
### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python

In [30]:
# Exercise 30
result = 2 ** 8
result

256

In [ ]:
### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python

In [32]:
# Exercise 31
fruits = ["mangue", "orange","pomme", "poivre"]
fruits

['mangue', 'orange', 'pomme', 'poivre']

In [ ]:
### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python

In [33]:
# Exercise 32
coordinates  = (1,2,3)
coordinates

(1, 2, 3)

In [ ]:
### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python

In [34]:
# Exercise 33
person = {'name' : "khadija", 'age' : 26}
person

{'name': 'khadija', 'age': 26}

In [ ]:
### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python

In [35]:
# Exercise 34
sum = 1.5 + 2.8
sum

4.3

In [ ]:
### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python

In [36]:
# Exercise 35
is_sunny = 10 > 5
is_sunny

True

In [ ]:
### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python

In [37]:
# Exercise 36
c = "khadija"
d = 14
print(c,d)

khadija 14

In [ ]:
### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python

In [40]:
# Exercise 37
a = 5
a = bool(a)
a

True

In [ ]:
### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python

In [42]:
# Exercise 38
is_weekend = False
is_weekend

False

In [ ]:
### Exercise 39:
Assign a multi-line string to a variable `description`.

```python

In [51]:
# Exercise 39
description = print("khadija \n bop")
#description

khadija
 bop

In [ ]:
### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python

In [52]:
# Exercise 40
absolute = abs(-25)
absolute

25

In [ ]:
### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python

In [53]:
# Exercise 41
floor_div_result = 100 // 6
floor_div_result

16

In [ ]:
### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python

In [54]:
# Exercise 42
mixed_sum = 4 + 2.5
mixed_sum

6.5

In [ ]:
### Exercise 43:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python

In [55]:
# Exercise 43
is_sup = 10 > 15
is_sup

False

In [ ]:
### Exercise 44:
Assign a long sentence to a variable and count its characters using `len()`.

```python

In [56]:
# Exercise 44
name = "Khadija"
len(name)

7

In [ ]:
### Exercise 45:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python

In [72]:
# Exercise 45

a = 7 / 3
a

2.3333333333333335

In [ ]:
### Exercise 46:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python

In [67]:
# Exercise 46
speed = "100 kilometers per hour" 
speed

'100 kilometers per hour'

In [ ]:
### Exercise 47:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python

In [ ]:
# Exercise 47

In [ ]:
### Exercise 48:
Use variables to calculate and store the average of three numbers.

In [66]:
# Exercise 48
a = 2
b = 3
c = 4
average = ((a+b+c)/3)
average

3.0