# Practical_2: String and files

---

### Exercise 1:
Create a string variable `text` and assign it the value `"Python is amazing!"`.

```python

In [2]:
# Exercise 1
text = ' "Python is amazing!" '
print(text)

 "Python is amazing!"

### Exercise 2:
Find the length of the string `"Hello, World!"` and store it in a variable `length`.

```python

In [10]:
# Exercise 2
length = len('"Hello, World!"')
length

15

### Exercise 3:
Convert the string `"python programming"` to uppercase and store it in a variable `upper_text`.

```python

In [15]:
# Exercise 3
upper_text = "python programming"
upper_text.upper()

'PYTHON PROGRAMMING'

### Exercise 4:
Extract the first 5 characters from the string `"Artificial Intelligence"`.

```python

In [16]:
# Exercise 4
a = "Artificial Intelligence"
a[:5]

'Artif'

### Exercise 5:
Concatenate the strings `"Hello"` and `"World"` with a space in between.

```python

In [3]:
# Exercise 5
a = "Hello"
b = "World"
c = a +" "+ b
c

'Hello World'

In [ ]:
### Exercise 6:
Replace the word `"dog"` with `"cat"` in the string `"The quick brown dog jumps over the lazy dog."`.

```python

In [4]:
# Exercise 6
a = "The quick brown dog jumps over the lazy dog."
b = a.replace("dog", "cat")
b

'The quick brown cat jumps over the lazy cat.'

### Exercise 7:
Split the string `"apple,banana,orange"` by commas and store the result in a list `fruits_list`.

```python

In [21]:
# Exercise 7
fruits_lists = "apple,banana,orange".split(",")
fruits_lists

['apple', 'banana', 'orange']

### Exercise 8:
Use string formatting to create the sentence `"My name is Alice and I am 25 years old."`, where the name and age are variables.

```python

In [24]:
# Exercise 8
name = 'Alice'
age = 25
sentence = "My name is {} and I am {} years old.".format(name, age)
print(sentence)

My name is Alice and I am 25 years old.

In [ ]:
### Exercise 9:
Check if the string `"python"` is present in the sentence `"I love python programming"`.

```python

In [29]:
# Exercise 9
find_value = "I love python programming".find("python")#if the value found is different to -1 then python is present
find_value

-1

In [ ]:
### Exercise 10:
Count the number of occurrences of the letter `"e"` in the string `"Elephant is an elegant animal"`.

```python

In [8]:
# Exercise 10
a = "Elephant is an elegant animal"
b = a.count("e")
b

3

### Exercise 11:
Remove any leading and trailing spaces from the string `"   Data Science   "`.

```python

In [37]:
# Exercise 1
a = "   Data Science   ".strip()
a

'Data Science'

### Exercise 12:
Convert the string `"100"` into an integer and store it in a variable `int_value`.

```python

In [9]:
# Exercise 12
int_value = int("100")
int_value

100

### Exercise 13:
Extract the substring `"pro"` from the string `"programming"`.

```python

In [39]:
# Exercise 13
a = "programming"
a[:3]

'pro'

### Exercise 14:
Check if the string `"data"` starts with `"da"` and ends with `"ta"`.

```python

In [43]:
# Exercise 14
a = "data"
start = a.startswith("da")
end = a.endswith("ta")
start, end

(True, True)

In [ ]:
### Exercise 15:
Reverse the string `"machine learning"` and store the result in `reversed_text`.

```python

In [45]:
# Exercise 15
reverse_text = "machine learning"[::-1]
reverse_text

'g'

### Exercise 16:
Convert the first letter of each word in the string `"machine learning is fun"` to uppercase.

```python

In [46]:
# Exercise 16
text = "machine learning is fun"
capitalized_text = text.title()
print(capitalized_text)

Machine Learning Is Fun

### Exercise 17:
Create a multiline string representing a poem and store it in a variable `poem`.

```python

In [48]:
# Exercise 17
poem = poem = """Roses are red,
Violets are blue,
Sugar is sweet,
And so are you."""
print(poem)

Roses are red,
Violets are blue,
Sugar is sweet,
And so are you.

### Exercise 18:
Write a string to a file named `"output.txt"`.

```python

In [51]:
# Exercise 18
text = "Hello, this is a test string."

with open("output.txt", "w") as file:
    file.write(text)
text

'Hello, this is a test string.'

### Exercise 19:
Read the contents of a file named `"data.txt"` and print it line by line.

```python

In [15]:
# Exercise 19
file = open('data.txt', 'r')
for line in file:
    print(line.strip())

AIMS SENEGAL
AIMS RWANDA
AIMS AFRIQUE DU SUD
AIMS CAMEROUNE

In [16]:
#Another method
with open('data.txt', 'r') as file:
    for line in file:
        print(line.strip())

AIMS SENEGAL
AIMS RWANDA
AIMS AFRIQUE DU SUD
AIMS CAMEROUNE

### Exercise 20:
Check if a file `"example.txt"` exists before opening it.

```python

In [20]:
# Exercise 20
import os
filename = "example.txt"
if os.path.exists(filename):
    with open(filename, "r") as file:
        print(file.read())
else:
    print("File does not exist.")

File does not exist.

### Exercise 21:
Append a new line `"This is a new line"` to an existing file `"notes.txt"`.

```python

In [24]:
# Exercise 21
with open('notes.txt', "a") as file:
    file.write("\nThis is a new line")

### Exercise 22:
Read the contents of a file `"log.txt"` and store each line in a list `log_lines`.

```python

In [31]:
# Exercise 22
log_lines=[]
filename = "log.txt"
with open(filename, "r") as file:
    for line in file:
        log_lines.append(line)
log_lines

['AIMS SENEGAL\n', 'AIMS RWANDA\n', 'AIMS AFRIQUE DU SUD\n', 'AIMS CAMEROUNE']

### Exercise 23:
Create a new file `"report.txt"` and write the string `"Data analysis report"` to it.

```python

In [43]:
# Exercise 23
filename = "report.txt"
f = open(filename ,"w")
f.write("Data analysis report")

### Exercise 24:
Replace the word `"error"` with `"issue"` in a file `"log.txt"`.

```python

In [59]:
# Exercise 24
with open("data.txt", "r") as file:
    content = file.read()
new_content = content.replace("error", "issue")
with open("data.txt", "w") as file:
    file.write(new_content)

In [ ]:
### Exercise 25:
Count the number of words in a text file `"document.txt"`.

```python

In [68]:
# Exercise 25
with open("document.txt","r") as file:
    content = file.read()
    words = content.split()
    a = len(words)
print(a)

2

### Exercise 26:
Write a Python script that reads a file `"essay.txt"` and prints the total number of lines, words, and characters.

```python

In [72]:
# Exercise 26
with open("document.txt", "r") as file:
    content = file.read()
    words = len(content.split())
    carcter = len(content)
    lines = len(line)
print(words, carcter, lines)

2 12 14

### Exercise 27:
Copy the contents of one file `"source.txt"` to another file `"destination.txt"`.

```python

In [74]:
# Exercise 27
with open("source.txt", "r") as file:
     content = file.read()
        
with open("destination.txt", "w") as destination:
    content_destination = destination.write(content)

### Exercise 28:
Write a Python function that takes a filename as input and returns the number of lines in the file.

```python

In [ ]:
# Exercise 28

def numberLineFine(filename):
    with open(filename, "r") as file:
        content = file.read()
        lines = content.split()
        number_line = len(lines)

### Exercise 29:
Extract all the words from a text file `"article.txt"` that contain more than 5 characters.

```python

In [1]:
# Exercise 29
with open("outfile.txt", "r") as file:
    text = file.read()
long_words = [word for word in text.split() if len(word) > 5]

print(long_words)

['madam!']

In [ ]:
### Exercise 30:
Convert the contents of a file `"notes.txt"` to uppercase and save the result in another file `"uppercase_notes.txt"`.

```python

In [2]:
# Exercise 30
with open("notes.txt", "r") as input_file:
    lines = [line.upper() for line in input_file]

with open("uppercase_notes.txt", "w") as output_file:
    output_file.writelines(lines)

print("File converted successfully!")

File converted successfully!

### Exercise 31:
Write a Python script that reads a file and removes all empty lines.

```python

In [5]:
# Exercise 31
with open("outfile.txt", "r") as file:
    lines = file.readlines()

non_empty_lines = [line for line in lines if line.strip()]

with open("output.txt", "w") as file:
    file.writelines(non_empty_lines)

print("Empty lines removed successfully!")

Empty lines removed successfully!

In [ ]:
### Exercise 32:
Open a file `"config.txt"` in both read and write mode.

```python

In [ ]:
# Exercise 32
```

---

In [ ]:
### Exercise 33:
Write a Python function that reads a file and prints the longest line in the file.

```python

In [ ]:
# Exercise 33
```

---

In [ ]:
### Exercise 34:
Write a Python script to count the frequency of each letter in a text file `"message.txt"`.

```python

In [ ]:
# Exercise 34
```

---

In [ ]:
### Exercise 35:
Write a Python script that reads a file and prints the total number of characters, excluding spaces.

```python

In [ ]:
# Exercise 35
```

---

In [ ]:
### Exercise 36:
Create a Python script to check whether a file is empty or not.

```python

In [ ]:
# Exercise 36
```

---

In [ ]:
### Exercise 37:
Write a Python function that reads a file and removes all punctuation marks from the text.

```python

In [ ]:
# Exercise 37
```

---

In [ ]:
### Exercise 38:
Create a Python function that writes a list of strings to a file, each string on a new line.

```python

In [ ]:
# Exercise 38
```

---

In [ ]:
### Exercise 39:
Write a Python script to count the number of lines that start with a specific letter (e.g., "A") in a text file.

```python

In [ ]:
# Exercise 39
```

---

In [ ]:
### Exercise 40:
Write a Python function that takes a string as input and writes it to a file `"output.txt"` in reverse order.

```python

In [ ]:
# Exercise 40
```

---

In [ ]:
### Exercise 41:
Write a Python script that reads a file and prints all the lines that contain the word `"Python"`.

```python

In [ ]:
# Exercise 41
```

---

In [ ]:
### Exercise 42:
Write a Python script that opens a file and removes all numeric digits from the file's content.

```python

In [ ]:
# Exercise 42
```

---

In [ ]:
### Exercise 43:
Write a Python script to find the most frequent word in a text file `"book.txt"`.

```python

In [ ]:
# Exercise 43
```

---

In [ ]:
### Exercise 44:
Write a Python script that reads a file and prints all the lines that contain exactly 5 words.

```python

In [ ]:
# Exercise 44
```

---

In [ ]:
### Exercise 45:
Write a Python script to read a file and print the first and last line of the file.

```python

In [ ]:
# Exercise 45
```

---

In [ ]:
### Exercise 46:
Write a Python script that checks if a file `"students.txt"` is writable.

```python

In [ ]:
# Exercise 46
```

---

In [ ]:
### Exercise 47:
Create a Python function that opens a file and returns the number of unique words in the file.

```python

In [ ]:
# Exercise 47
```

---

In [ ]:
### Exercise 48:
Write a Python script that reads a file and prints all lines in reverse order.

```python

In [ ]:
# Exercise 48
```

---

In [ ]:
### Exercise 49:
Write a Python function that reads a file and returns the most common letter in the text.

```python

In [ ]:
# Exercise 49
```

---

In [ ]:
### Exercise 50:
Write a Python script that reads a file and replaces every occurrence of `"Python"` with `"Java"`.

```python

In [ ]:
# Exercise 50
```

---