# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python

In [2]:
# Exercise 1
list = [x for x in range(1,11)]
list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python

In [5]:
# Exercise 2
elements = ("apple", "banana", "cherry")
elements

('apple', 'banana', 'cherry')

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python

In [6]:
# Exercise 3
numbers = tuple([10, 20, 30, 40])
numbers

(10, 20, 30, 40)

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python

In [7]:
# Exercise 4
content = (1, 2, 3, 4, 5)
content

(1, 2, 3, 4, 5)

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python

In [8]:
# Exercise 5
student = {"name" : "Alice", "age" : 20, "grade" : "A"}
student

{'name': 'Alice', 'age': 20, 'grade': 'A'}

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python

In [9]:
# Exercise 6
list = [10, 20, 30, 40, 50]
list[1]

20

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `"mango"`.

```python

In [1]:
# Exercise 7

fruits = ["apple", "banana", "cherry", "orange"]
fruits[2] = "mango"
fruits

['apple', 'banana', 'mango', 'orange']

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python

In [10]:
# Exercise 8
numbers = {1, 2, 3, 4, 5}
numbers.add(6)
numbers

{1, 2, 3, 4, 5, 6}

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python

In [5]:
# Exercise 9
person = {"name": "John", "age": 25, "city": "New York"}
person.pop("age")
person

{'name': 'John', 'city': 'New York'}

### Exercise 10:
Create a range object starting from 0 to 9.

```python

In [26]:
# Exercise 10
for i in range(10):
    a = print(i)
a

0
1
2
3
4
5
6
7
8
9

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python

In [30]:
# Exercise 11
squares = [x**2 for x in range(1, 10)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python

In [33]:
# Exercise 12
even = [x for x in range(1, 11) if x % 2 == 0]
print(tuple(even))

(2, 4, 6, 8, 10)

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python

In [34]:
# Exercise 13
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)

apple
banana
cherry

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python

In [43]:
# Exercise 14
numbers = [1, 2, 3, 4, 5]
for i in range(len(numbers)):
    if( numbers[i]== 3):
        print("Le nombre 3 existe dans la liste")

Le nombre 3 existe dans la liste

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python

In [39]:
# Exercise 15
numbers = (10, 20, 30)
len(numbers)

3

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python

In [45]:
# Exercise 16

scores = [80, 85, 90, 95]
scores.append(100)
scores

[80, 85, 90, 95, 100]

### Exercise 17:
Write a function that takes a list as input and returns the sum of all elements in the list.

```python

In [66]:
# Exercise 17

def sumlist(liste):
    som = 0
    for i in range (len(liste)):
        som +=liste[i]

    return som

In [67]:
a = [80, 85, 90, 95]
b = sumlist(a)
print(b)

350

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python

In [39]:
# Exercise 18
numbers = [1, 2, 2, 3, 4, 4, 5]
print(set(numbers)) # convertir une liste en un ensemble en supprimant les doublons

{1, 2, 3, 4, 5}

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python

In [41]:
# Exercise 19
a = "hello"
print(list(a))

['h', 'e', 'l', 'l', 'o']

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python

In [47]:
# Exercise 20
def reversefunction(a):
    return tuple(a[::-1])

In [48]:
reversefunction((1, 2, 3, 4))

(4, 3, 2, 1)

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python

In [69]:
# Exercise 21
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python

In [17]:
# Exercise 22
squares = {x: x**2 for x in range(1, 6)}
squares

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python

In [27]:
# Exercise 23
my_dict = {"nom": "khadija", "prenom" : "bop", "address": "mariste"}
for key, value in my_dict.items():
    print(f"({key} , {value})")

(nom , khadija)
(prenom , bop)
(address , mariste)

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python

In [1]:
# Exercise 24

for i in range(65, 70):   # Les codes ASCII de A à Z vont de 65 à 90
    print(chr(i))

A
B
C
D
E

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python

In [31]:
# Exercise 25
a = [1, 2, 3]
b = ["a", "b", "c"]

list(zip(a, b))

[(1, 'a'), (2, 'b'), (3, 'c')]

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python

In [32]:
# Exercise 26
a = [10, 20, 30, 40, 50]
a.index(50)

4

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python

In [19]:
# Exercise 27
names = ["Alice", "Bob", "Charlie", "David"]
a = sorted(names)
print(a)

['Alice', 'Bob', 'Charlie', 'David']

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python

In [8]:
# Exercise 28
def numberlist(liste):
    return sorted(liste)[-1]

numberlist([1, 5, 8, 3, 9])

9

In [ ]:
### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python

In [81]:
# Exercise 29
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python

In [83]:
# Exercise 30
person = {"name" : "Alice", "age" : 25, "city" : "New York"}
person["city"]

'New York'

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python

In [86]:
# Exercise 31
def removeduplicated(liste):
    a = set(liste)
    return list(a)

In [87]:
removeduplicated([1,1,1,1,2,2,2,9,9,3,3,2,2,0,0,0,0])

[0, 1, 2, 3, 9]

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python

In [ ]:
# Exercise 32
def intersection(list1,list2):

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python

In [3]:
# Exercise 33
squares = [x**2 for x in range(1,10)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python

In [86]:
# Exercise 34
def sumvalues(dictionnary):
    som = 0
    for key, value in dictionnary.items():
        som = som + dictionnary[key]
    return som

In [87]:
sumvalues({1: 1,2:4, 3: 9, 4:16, 5:25})

55

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python

In [14]:
# Exercise 35
sorted([3, 1, 4, 1, 5, 9])

[1, 1, 3, 4, 5, 9]

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python

In [105]:
# Exercise 36
def longest(liste):
    longest_string = ""
    for word in liste:
         if len(word) > len(longest_string):
                longest_string = word
    return longest_string
        
            
        

longest(["apple", "bananaaaa", "cherry"])

'bananaaaa'

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python

In [20]:
# Exercise 37
a = [1, 2, 3, 4, 5]
all(a)

True

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python

In [139]:
# Exercise 38

a = [(x,x**2) for x in range(1,6)]
a

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python

In [140]:
# Exercise 39
def listTuple(liste):
    new_list = []
    for i in range (len(liste)):
        new_list.append(liste[i][1])
    return new_list
    
a = [(x,x**2) for x in range(1,6)]  
a
listTuple(a)

[1, 4, 9, 16, 25]

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python

In [142]:
# Exercise 40
def flattens(liste):
    return liste[0][::1]
a = [[1, 2, 3, 4, 5]]
flattens(a)

[1, 2, 3, 4, 5]

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python

In [2]:
# Exercise 41
fruits = ["apple", "banana", "cherry"]
enumerate(fruits.index,fruits.values)

AttributeError: 'list' object has no attribute 'values'

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python

In [9]:
# Exercise 4
t = (1,2)
t == ()

False

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python

In [11]:
# Exercise 43
a = [x for x in range(1,20)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python

In [29]:
# Exercise 44
def reverseList(liste):
    return liste[::-1]

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python

In [40]:
# Exercise 45
cube = [i*i*i for i in range(1,5)]

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python

In [44]:
# Exercise 46
def uniqueElement(liste):
    return set(liste)
uniqueElement([1, 2, 2, 3, 4, 4, 5])

{1, 2, 3, 4, 5}

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python

In [ ]:
# Exercise 47
def keysvalues(listdict):
    return listdict.keys
 #

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python

In [44]:
# Exercise 48
def fibonacci(n):
    if n<=1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [45]:
fibonacci(5)

5

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python

In [60]:
# Exercise 49
x = "111111111111123456777777777777777"
set(x)

{'1', '2', '3', '4', '5', '6', '7'}

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python

In [5]:
# Exercise 50
def fusionnelist(liste1, liste2):
    liste1.extend(liste2)
    return sorted(liste1)

In [6]:
liste1 = [3,4,9]#[1, 2, 3, 4, 5, 6]
liste2 = [1,7,10] # [ 8, 9, 10, 11, 16]
fusionnelist(liste1,liste2)

[1, 3, 4, 7, 9, 10]

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python

In [16]:
### Exercise 51
liste = [1, 2, 3, 4, 5, 6]
resultat = filter(lambda x: x % 2==1, liste)
print(list(resultat))

[1, 3, 5]

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python

In [28]:
liste = [(1, 2), (3, 4), (5, 6)]
tuple(liste)

((1, 2), (3, 4), (5, 6))

# Exercise 52
```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python

In [30]:
# Exercise 53
def symmetric_diff(set1, set2):
    return set1.symmetric_difference(set2)

# Example usage
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

result = symmetric_diff(A, B)
print(result)

{1, 2, 5, 6}

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python

In [38]:
# Exercise 54
def common(list1,list2,list3):
    for i in list1:
        if i in list2 and i in list3:
            return i

A = [1, 2, 3, 4]
B = [3, 7, 5, 6]
C = [3, 7, 8, 9]
common(A,B,C)

3

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python

In [25]:
# Exercise 55
def factorial(n):
    if(n<0):
        print("Le factoriel doit etre un nombre positif")
    elif(n<=1):
        return 1
    else:
        return n*factorial(n-1)
    
factorial(3)

6

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python

In [62]:
# Exercise 56
def removeList(liste):
    return [x for x in liste if x != ""]

a = removeList(["apple", "", "banana", "", "cherry"])
print(a)

['apple', 'banana', 'cherry']

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python

In [111]:
# Exercise 57
def swapping(my_dict):
    new_dict = {}
    for key, value in my_dict.items():
        new_dict[value] = key  
    return new_dict
        
      
   
        
my_dict = {1: 1,2:4, 3: 9, 4:16, 5:25}
dict(swapping(my_dict))

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python

In [125]:
# Exercise 58
def even_number(liste):
    return [x for x in liste if x%2 == 0]

liste = [1,2,4,3,9,4, 16,5,25]
even_number(liste)

[2, 4, 4, 16]

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python

In [17]:
# Exercise 59
def firstElement(liste):
    return [x[0] for x in liste]

liste = [(1,2), (5,6)]
firstElement(liste)

[1, 5]

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python

In [26]:
# Exercise 60
def remove_duplicates(lst):
    seen = set()
    return [x for x in lst if not (x in seen or seen.add(x))]

# Example usage
original_list = [1, 2, 3, 2, 4, 1, 5, 3]
result = remove_duplicates(original_list)
print(f"After removing duplicates: {result}")

After removing duplicates: [1, 2, 3, 4, 5]

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python

In [38]:
# Exercise 61
liste = ["apple", "", "banana", "", "avocat"]
resultat = list(map(len, liste))
print(resultat)

[5, 0, 6, 0, 6]

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python

In [43]:
# Exercise 62
def average(liste):
    return sum(liste) / len(liste)

average([1, 2, 3, 4, 5])

3.0

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python

In [47]:
# Exercise 63
def fibonaccinumbers(n):
    return [fibonacci(i) for i in range(n)]
fibonaccinumbers(5)

[0, 1, 1, 2, 3]

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python

In [49]:
# Exercise 64
def times_element(liste):
    counts = {}

    for fruit in fruits:
        if fruit in counts:
            counts[fruit] += 1
        else:
            counts[fruit] = 1

    print(counts)
fruits = ["apple", "banana", "apple", "cherry"]
times_element(fruits)

{'apple': 2, 'banana': 1, 'cherry': 1}

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python

In [55]:
# Exercise 65
def remove_value(lst, value):
    while value in lst:
        lst.remove(value)
    return lst

numbers = [1, 2, 2, 3, 2, 4]
remove_value(numbers, 2)
print(numbers)

[1, 3, 4]

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python

In [55]:
# Exercise 66
def startvowel(liste):
    new_list = [x for x in liste if x[0]=='a' or x[0]=='o' or x[0]=='u' or x[0]=='i' or x[0]=='e' or x[0]=='y']
    return new_list
    
fruits = ["apple", "banana", "apple", "cherry", "ananas"]
startvowel(fruits)

['apple', 'apple', 'ananas']

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python

In [58]:
# Exercise 67
def intersection(set1, set2):
    return [x for x in set1 if x in set1 and x in set2]

set1 = {1, 3, 4, 5}
set2 = {4,5,6,7}
intersection(set1, set2)

[4, 5]

### Exercise 68:
Write a Python function that flattens a nested list.

```python

In [ ]:
# Exercise 68

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python

In [5]:
# Exercise 69
def unique_element(liste):
    if len(liste)==len(set(liste)):
        print("All the elements in the list are unique")
    else:
        print("All the elements in the list are not unique")
        

unique_element([1, 3, 4, 5,1,2])

All the elements in the list are not unique

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python

In [8]:
# Exercise 70 
from functools import reduce
liste = [1, 3, 4, 5,1,2]
result = reduce(lambda x, y: x * y, liste)
result

120

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python

In [27]:
# Exercise 71
def dictionnaire(liste):
    result = {x: len(x) for x in liste}
    return result

fruits = ["apple", "banana", "apple", "cherry", "ananas"]
print(dictionnaire(fruits))

{'apple': 5, 'banana': 6, 'cherry': 6, 'ananas': 6}

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python

In [20]:
# Exercise 72
string = "Khadija"
count = 0
for i in range (len(string)):
    if string[i] == "a" or string[i] == "e" or string[i] == "i" or string[i] == "u" or string[i] == "y":
        count +=1
print(count)

3

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python

In [30]:
# Exercise 73
result = {factorial(x) for x in range(1,6)} # J'ai utilisé la fonction factorial créé dans l'exercice 55
result

{1, 2, 6, 24, 120}

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python

In [31]:
# Exercise 74
list_dicts = [
    {"a": 1, "b": 2},
    {"c": 3},
    {"d": 4, "e": 5}
]

merged_dict = {}
for d in list_dicts:
    merged_dict.update(d)

print(merged_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python

In [40]:
# Exercise 75
def subset(set1, set2):
    for elem in set1:
        if elem not in set2:
            return False
    return True
set2 = {1, 2, 6, 24, 120}
set1 = {1, 2, 6, 120}
subset(set1, set2)

True

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python

In [42]:
# Exercise 76
data = [(1, 3), (2, 7), (4, 8), (3, 5)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[2, 7]

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python

In [45]:
# Exercise 77
def positive_integer(liste):
    return [x for x in liste if x>0]
positive_integer([1, -2, 6, -24, 120])

[1, 6, 120]

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python

In [4]:
# Exercise 78
def union_set(set1,set2):
    return [x for x in set1 if x in set1 or x in set2]

set2 = {1, 2, 6, 24, 120}
set1 = {1, 2, 6, 120}
union_set(set1,set2)

[120, 1, 2, 6]

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python

In [9]:
# Exercise 79
from functools import reduce
def product_numbers(liste):
    return reduce(lambda x, y: x * y, liste)

print(product_numbers([2, 3, 4]))

24

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python

In [17]:
# Exercise 80
liste = ["Khadija"]
string =""
for i in range (len(liste)):
    string = string + liste[i]
string
#print(string)

'Khadija'

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python

In [20]:
# Exercise 81
liste = [120, 1, 2, 6]
a = sorted(liste)
a[-2]

6

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python

In [3]:
# Exercise 82
def sorted_key(dictionnaire):
    return {k: dictionnaire[k] for k in sorted(dictionnaire)}

d = {'b': 2, 'a': 1, 'c': 3}
print(sorted_key(d))

{'a': 1, 'b': 2, 'c': 3}

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python

In [12]:
# Exercise 83
def most_common_elements(lst):
    counts = Counter(lst)
    max_freq = max(counts.values())
    return [k for k, v in counts.items() if v == max_freq]

# Exemple
fruits = ["apple", "banana", "apple", "banana", "cherry"]
print(most_common_elements(fruits))

['apple', 'banana']

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python

In [6]:
# Exercise 84
data = [(1, 3), (2, 7), (4, 8), (3, 5)]
sorted_data = sorted(data, key=lambda x: x[0])
print(sorted_data)

[(1, 3), (2, 7), (3, 5), (4, 8)]

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python

In [8]:
# Exercise 85
dictionnaire = {'a': 1, 'b': 2, 'c': 3, 'a': 5}
dictionnaire
#sorted_data = sorted(data, key=lambda x: x[0])
#print(sorted_data)

{'a': 1, 'b': 2, 'c': 3}

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python

In [2]:
# Exercise 86
def minimum_maximum(liste):
    a = max(liste)
    b = min(liste)
    return a,b
minimum_maximum([120, 1, 2, 6])

(120, 1)

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python

In [6]:
# Exercise 87
liste1 = [1, 2, 6, 120]
liste2 = [1, 2, 3, 4]
my_tuple = (liste1,liste2)
my_tuple

([1, 2, 6, 120], [1, 2, 3, 4])

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python

In [9]:
# Exercise 88
def reverse_order(liste):
    return liste[::-1]

reverse_order([1, 2, 3, 4])

[4, 3, 2, 1]

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python

In [11]:
# Exercise 89
def sumodd(liste):
    return sum(x for x in liste if x%2==1)
sumodd([1, 2, 3, 4])

4

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python

In [16]:
# Exercise 90
string = "Khadija"
palindrome = string[::-1]
if string == palindrome:
    print("C'est un palindrome")
else:
    print("Ce n'est pas un palindrome")

Ce n'est pas un palindrome

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python

In [21]:
# Exercise 91
def median(liste):
    sorted_liste = sorted(liste)
    n = len(sorted_liste)
    middle = n // 2 
    
    if n % 2 == 0:
        return (sorted_liste[middle - 1] + sorted_liste[middle]) / 2
    else:
        return sorted_liste[middle]

liste1 = [1, 2, 6, 120] 
liste2 = [1, 2, 3, 4]
print(f" La médiane de la liste1 est {median(liste1)} et celle de la liste2 est {median(liste2)}")

 La médiane de la liste1 est 4.0 et celle de la liste2 est 2.5

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python

In [24]:
# Exercise 92
def sumKeys(dicts_list):
    result = {}
    for d in dicts_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result

dicts_list = [
    {"apple": 10, "banana": 5},
    {"apple": 3, "cherry": 8},
    {"banana": 2, "cherry": 1}
]

print(sumKeys(dicts_list))

{'apple': 13, 'banana': 7, 'cherry': 9}

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python

In [28]:
# Exercise 93

def mode(numbers):
    freq = {}
    for n in numbers:
        freq[n] = freq.get(n, 0) + 1 
    
    max_freq = max(freq.values())
    modes = [num for num, count in freq.items() if count == max_freq]  # Tous les éléments avec cette fréquence
    
    if len(modes) == 1:
        return modes[0]  # Mode unique
    else:
        return modes     # Plusieurs modes possibles


# Exemple d’utilisation
liste = [1, 2, 2, 3, 3, 4, 5, 3]
print("Le mode est :", mode(liste))

Le mode est : 3

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python

In [30]:
# Exercise 94
def sum_squares(liste):
    return sum(x**2 for x in liste)
sum_squares([1, 2, 2, 3, 3, 4, 5, 3])

77

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python

In [34]:
# Exercise 95
list_tuple = [(x,x**3) for x in range (1,6)]
tuple(list_tuple)

((1, 1), (2, 8), (3, 27), (4, 64), (5, 125))

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python

In [43]:
# Exercise 96
from math import sqrt
def prime_numbers(n):
    return [x for x in range(2, n + 1) if all(x % i != 0 for i in range(2, int(sqrt(x)) + 1))]

prime_numbers(10)

[2, 3, 5, 7]

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python

In [47]:
# Exercise 97
def common_keys(dict1, dict2):
    return list(dict1.keys() & dict2.keys())

# Example
a = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
b = {'age': 30, 'city': 'London', 'country': 'UK'}
common_keys(a,b)

['age', 'city']

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python

In [52]:
# Exercise 98
def character(liste):
    return [x for x in liste if len(x)>=5]

fruits = ["apple", "banana","cherry", "kui"]
character(fruits)

['apple', 'banana', 'cherry']

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python

In [53]:
# Exercise 99
fruits = ["apple", "banana","cherry", "kui"]
list_tuple = [(x,len(x)) for x in fruits]
tuple(list_tuple)

(('apple', 5), ('banana', 6), ('cherry', 6), ('kui', 3))

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python

In [54]:
# Exercise 100
def sum_dicts(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            result[key] = result.get(key, 0) + value
    return result


data = [{'a': 5, 'b': 3},{'a': 2, 'b': 4, 'c': 1},{'a': 1, 'c': 7}]

print(sum_dicts(data))

{'a': 8, 'b': 7, 'c': 8}